name: helloworld
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.3.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  # Icons
  cupertino_icons: ^1.0.8

  # Packages for app functionality
  shared_preferences: ^2.2.3
  carousel_slider_plus: ^7.1.1
  smooth_page_indicator: ^1.1.0
  
  # Package untuk Walkthrough/Tutorial baru
  tutorial_coach_mark: ^1.2.11
  google_fonts: ^6.2.1

  # --- TAMBAHKAN INI ---
  # Diperlukan untuk CreateFeedPage
  image_picker: ^1.0.7 # (atau versi terbaru)
  # --------------------

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/logo.png
    - assets/images/carousel1.png
    - assets/images/carousel2.png
    - assets/images/carousel3.png
    - assets/images/logo_reader_hub.png

  # ... (sisa file fonts Anda tetap sama) ...
  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
